@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
.card {
    margin-top: 200px;
    background-color: rgb(232, 232, 255);
    font-family: 'Roboto', sans-serif;
}

.card-header {
    background-color: rgb(128, 128, 255);
    font-weight: 500;
    color: rgb(255, 255, 255);
}

#prof {
    font-size: 250;
    color: rgb(52, 54, 187);
}